dataset/images/test/*
dataset/images/train/*
dataset/images/val/*
dataset/text-annotation/dii/*
dataset/text-annotation/sis/*
dataset/vocabulary/*
app/__pycache__/*
app/models/__pycache__/*
app/config/*
!app/config/sample-config.yml